[files]
# relative path to where log is kept
log_file = canute.log
# book directory
library_dir = ~/books/
# where usb sticks will be automounted
usb_dir = /media/
# where the software is - needed for ui updates
install_dir = ~/canute-ui/ui/
archive_dir = ~/

[user]
user_name = pi

[comms]
# serial timeout in seconds
timeout = 1000
