mock==2.0.0
flake8==3.5.0
flake8-quotes==0.12.0
autopep8==1.3.3
pyserial==2.7
frozendict==1.2
aioredux==1.1.0
async-timeout==2.0.0
aiofiles==0.3.2
pyqt5==5.9.2
toml==0.9.4
crcmod==1.7
pyzmq==16.0.2
pydbus==0.6.0
smbus2=0.2.3
