[files]
# relative path to where log is kept
log_file = canute.log
# book directory
library_dir = ~/books/
# where usb sticks will be automounted
usb_dir = /home/kaspar/projects/braille/code/canute-ui/test-books

[user]
user_name = kaspar

[comms]
timeout = 120
